* {
    font-family: Helvetica;
}

header, footer {
    background-color: #00838F;
    color: white;
    padding: 5px;
    font-size: 130%;
    text-align: center;
}

footer {
    clear: both;
}

#lewy1 {
    background-color: #EFEFEF;
    width: 55%;
    height: 200px;
    float: left;
}

#lewy2 {
    background-color: #EFEFEF;
    width: 55%;
    height: 500px;
    float: left;
}

#prawy {
    background-color: #4FB3BF;
    width: 45%;
    height: 700px;
    text-align: center;
    float: right;
}

img {
    box-shadow: 10px 10px 7px dimgray;
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

table,td,th {
    border: 1px solid #4FB3BF;
}

td,th {
    padding: 4px;
}

tr:hover {
    background-color: #4FB3BF;
}
